APP_ENV=develop

SERVER_ADDR=0.0.0.0
PORT=8088

DATABASE_USER=user
DATABASE_PASSWORD=123456
DATABASE_ADDR=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=user

REDIS_ADDR=127.0.0.1
REDIS_PORT=6379

OSS_URL=http://127.0.0.1:9000
OSS_ACCESS_KEY=
OSS_SECRET_KEY=
OSS_BUCKET_NAME=test

JWT_SECRET=1111111111111111111111111111111
